[submodule "pbdagcon"]
	path = pbdagcon
	url = git://github.com/PacificBiosciences/pbdagcon.git
[submodule "blasr"]
	path = blasr
	url = git://github.com/PacificBiosciences/blasr.git
[submodule "blasr_libcpp"]
	path = blasr_libcpp
	url = git://github.com/PacificBiosciences/blasr_libcpp.git
[submodule "pbcommand"]
	path = pbcommand
	url = git://github.com/PacificBiosciences/pbcommand.git
[submodule "pith"]
	path = pith
	url = git://github.com/PacificBiosciences/pith.git
[submodule "DALIGNER"]
	path = DALIGNER
	url = git://github.com/PacificBiosciences/DALIGNER.git
[submodule "DAZZ_DB"]
	path = DAZZ_DB
	url = git://github.com/PacificBiosciences/DAZZ_DB.git
[submodule "pbsmrtpipe"]
	path = pbsmrtpipe
	url = git://github.com/PacificBiosciences/pbsmrtpipe.git
